# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Compose preview
**/compose-preview/

# External native build
.externalNativeBuild/
.cxx/